<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> 
        <h3>Grocery List</h3>
        <div>
          <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
          <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
        </div>
    </div>
      <!-- Table -->
      <table class="table" style="font-size:10pt;">
          <thead>
              <tr>
                  <th>Items</th>
                  <th width="5%">Shared</th>
                  <th width="5%">Status</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Pick up 2 cans of tomoate</td>
                  <td><span class="badge">N</span></td>
                  <td>
                      <div class="input-group">
                        <span class="input-group-addon" style="border-style:none;">
                          <input type="checkbox">
                        </span>
                      </div>  
                  </td>
              </tr>
              <tr>
                  <td>Pick up 3 onions</td>
                  <td><span class="badge">N</span></td>
                  <td>
                      <div class="input-group">
                        <span class="input-group-addon" style="border-style:none;">
                          <input type="checkbox">
                        </span>
                      </div>  
                  </td>
              </tr>
              <tr>
                  <td>Pick up 1 box of spaghetti</td>
                  <td><span class="badge">N</span></td>
                  <td>
                      <div class="input-group">
                        <span class="input-group-addon" style="border-style:none;">
                          <input type="checkbox">
                        </span>
                      </div>  
                  </td>
              </tr>
              <tr>
                  <td>Pick up 1 (3 litter) Coke</td>
                  <td><span class="badge">N</span></td>
                  <td>
                      <div class="input-group">
                        <span class="input-group-addon" style="border-style:none;">
                          <input type="checkbox">
                        </span>
                      </div>  
                  </td>
              </tr>
              <tr>
                  <td>Cook recipe http://recipe.com/spaghetti</td>
                  <td><span class="badge">israelh</span></td>
                  <td>
                      <div class="input-group">
                        <span class="input-group-addon" style="border-style:none;">
                          <input type="checkbox">
                        </span>
                      </div>  
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
