<div class="container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel" style="color:white; background-color:#337ab7"> 
			<h3>{{listId}}. List - {{name}}</h3>
			<div>
			<a style="color:white" href="#"><span class="glyphicon glyphicon-edit"></span></a>
			<a style="color:white" href="#"><span class="glyphicon glyphicon-trash"></span></a>
			<a style="color:white" href="#"><span class="glyphicon glyphicon-ok"></span></a>
			</div>
		</div>
		<items-table [items]="listItems"></items-table>
		<!-- Table -->
	</div>
</div>