<!-- Table -->
<table class="table" style="font-size:10pt;">
    <thead>
        <tr>
            <th>Items</th>
            <th width="5%">Shared</th>
            <th width="5%">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of items; let i = index">
            <td>{{i+1}}. {{result.description}}</td>
            <td>{{result.taskId}}<span class="badge">{{result.shared}}</span></td>
            <td>
                <div class="input-group">
                    <span class="input-group-addon" style="border-style:none;">
                    <input type="checkbox">
                    </span>
                </div>  
            </td>
        </tr>
    </tbody>
</table>
